<link rel="stylesheet" href="../public/style.css">

<div class="grid grid-cols-5 bg-indigo-200 py-10">
    <div class="col-span-2 flex items-center justify-center">
        <div class="p-10">
            <div class="text-3xl lg:text-5xl font-semibold py-5">Heading</div>
            <div class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam unde sit ex, modi ea tenetur voluptas eum omnis quo odit et laboriosam repellendus hic optio deleniti necessitatibus accusamus velit aliquid.</div>
        </div>
    </div>
    <div class="col-span-3">
        <div class="grid h-72 grid-cols-4 gap-2">
            <div class="col-span-1 bg-indigo-500"></div>
            <div class="col-span-1 bg-indigo-500"></div>
            <div class="col-span-1 bg-indigo-500"></div>
            <div class="col-span-1 bg-indigo-500"></div>
        </div>
    </div>
</div>