<link rel="stylesheet" href="../public/style.css">

<div class="grid grid-cols-1 gap-2">
    <div class="grid grid-cols-2 lg:grid-cols-3 gap-2">
        <div class="col-span-2">
            <div class="h-full gap-2 grid grid-cols-2 grid-rows-3">
                <div class="row-span-2 col-span-2 bg-rose-500"></div>
                <div class="row-span-1 col-span-1 h-64 bg-indigo-500"></div>
                <div class="row-span-1 col-span-1 h-64 bg-indigo-500"></div>
            </div>
        </div>
        <div class="col-span-1">
            <div class="h-full gap-2 grid grid-cols-1 grid-rows-3">
                <div class="col-span-1 h-64 bg-indigo-500"></div>
                <div class="col-span-1 h-64 bg-indigo-500"></div>
                <div class="col-span-1 h-64 bg-indigo-500"></div>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-2 lg:grid-cols-3 gap-2">
        <div class="col-span-1">
            <div class="h-full gap-2 grid grid-cols-1 grid-rows-3">
                <div class="col-span-1 h-64 bg-indigo-500"></div>
                <div class="col-span-1 h-64 bg-indigo-500"></div>
                <div class="col-span-1 h-64 bg-indigo-500"></div>
            </div>
        </div>
        <div class="col-span-2">
            <div class="h-full gap-2 grid grid-cols-2 grid-rows-3">
                <div class="row-span-2 col-span-2 bg-rose-500"></div>
                <div class="row-span-1 col-span-1 h-64 bg-indigo-500"></div>
                <div class="row-span-1 col-span-1 h-64 bg-indigo-500"></div>
            </div>
        </div>
    </div>
</div>