<link rel="stylesheet" href="../public/style.css">

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 bg-indigo-600 p-5 gap-5 w-auto max-w-6xl mx-auto">
    <div class="h-64 flex items-center justify-center bg-indigo-400 rounded-2xl">Box</div>
    <div class="h-64 flex items-center justify-center bg-indigo-400 rounded-2xl">Box</div>
    <div class="h-64 flex items-center justify-center bg-indigo-400 rounded-2xl">Box</div>
    <div class="h-64 flex items-center justify-center bg-indigo-400 rounded-2xl">Box</div>
    
    <div class="h-64 flex items-center justify-center bg-indigo-400 rounded-2xl">Box</div>
    <div class="h-64 flex items-center justify-center bg-indigo-400 rounded-2xl">Box</div>
    <div class="h-64 flex items-center justify-center bg-indigo-400 rounded-2xl">Box</div>
    <div class="h-64 flex items-center justify-center bg-indigo-400 rounded-2xl">Box</div>
    
    <div class="h-64 flex items-center justify-center bg-indigo-400 rounded-2xl">Box</div>
    <div class="h-64 flex items-center justify-center bg-indigo-400 rounded-2xl">Box</div>
    <div class="h-64 flex items-center justify-center bg-indigo-400 rounded-2xl">Box</div>
    <div class="h-64 flex items-center justify-center bg-indigo-400 rounded-2xl">Box</div>
    
    <div class="h-64 flex items-center justify-center bg-indigo-400 rounded-2xl">Box</div>
    <div class="h-64 flex items-center justify-center bg-indigo-400 rounded-2xl">Box</div>
    <div class="h-64 flex items-center justify-center bg-indigo-400 rounded-2xl">Box</div>
    <div class="h-64 flex items-center justify-center bg-indigo-400 rounded-2xl">Box</div>
</div>